**/*egg-info

**/*.o
**/*.mod
**/*.x
*.swp
**/*.swp

obj/
bin/
build/

**/.DS_Store
.DS_Store

**/.ipynb_checkpoints

docs/Makefile
docs/build/
docs/make.bat

notebooks/ctdyn_output/
tests/test_ref
tests/test_default/
