**/*egg-info
**/__pycache__

**/*.o
**/*.mod
**/*.x
*.swp
**/*.swp
**/*.vscode

obj/
bin/
build/

**/.DS_Store
.DS_Store

**/.ipynb_checkpoints

docs/Makefile
docs/build/
docs/make.bat

notebooks/ctdyn_output/
notebooks/**/
notebooks/*.sh

tests/test_ref
tests/test_default/
